/* css for 768 - 959 px */
_about_screen_md()
  .preview-list__title
    font-size 24px

/* css for 480 - 767 px */
_about_screen_sm()
  .preview-list__item
    width 98%
    display block
    margin-bottom 50px
  .preview-list__text
    height 75px

/* css for 320 - 479 px */
_about_screen_xs()
