.about-section
  background-color #533a5d
  background linear-gradient(#745083, #322539)
  padding-top 70px
  padding-bottom 40px

.preview-list
  color white
  text-shadow 1px 1px 1px #0f1518
  .icon-media
    position absolute
    top 8px
    left 12px

.preview-list__item
  display inline-block
  margin-bottom 30px
  margin-left 1%
  width 31%
  padding-left 66px
  position relative
  &:last-child
    margin-right 0

.preview-list__title
  font-size 30px
  font-weight 400

.preview-list__text
  height 120px
  overflow hidden
  margin 4px 0 16px
  font-weight 300

.preview-list__more
  font-family LeagueGothic, serif
  font-size 18px
  float right
  text-transform uppercase
  &:hover
    text-shadow 0 0 8px rgba(255, 255, 255, 0.8)
