/* === common === */
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: arial,sans-serif;
  color: #222;
  background: #fff;
  margin-bottom: 200px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: underline;
}
.center {
  text-align: center;
}
.center-block {
  margin: 0 auto;
}
.close {
  font: bold 20px sans-serif;
  float: right;
  margin: -12px -24px 0 0;
  opacity: 0.2;
  background: none;
  border: none;
  cursor: pointer;
}
.close:after {
  content: '×';
}
.close:hover {
  opacity: 0.5;
}
header, footer {
  background: #eee;
  color: #666;
  border-color: #ddd;
  border-style: solid;
}
header {
  border-width: 0 0 1px 0;
}
footer {
  font-size: 10pt;
  line-height: 40px;
  border-width: 1px 0 0 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}
footer a {
  margin-right: 30px;
}
.footer__right {
  float: right;
}
.content {
  padding: 10px 100px;
}

#flash {
  background-color: #b98;
  border: 1px solid #888;
  padding: 10px 30px;
  color: white;
  display: none;
  min-height: 50px;
  min-width: 150px;
  max-width: 200px;
  position: fixed;
  right: 30px;
  top: 30px;
  word-wrap: break-word;
  z-index: 10;
}

#resultStats {
  font-size: 12px;
  color: #888;
}

/* === users list === */
.user {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}
.user > div {
  display: inline-block;
  vertical-align: top;
  padding: 4px 4px 2px;
}
.user__link {
  color: #21a;
}
.user__score {
  color: #073;
}

/* === user details === */
#user-details {
  background-color: white;
  position: absolute;
  display: none;
  padding: 5px 15px;
  font-size: 13px;
  box-shadow: 0px 0px 10px rgba(40,80,255,0.4) inset;
  z-index: 10;
}
dt {
  display: inline-block;
  font-weight: 700;
  width: 75px;
  padding: 2px;
}
dd {
  display: inline;
}
dd:after {
  content: '\a';
  white-space: pre;
}

/* === search form === */
#search-form {
  border: 1px solid #bbb;
  width: 600px;
  background-color: white;
}
#search-form input {
  border: none;
  outline: none;
  margin: 9px;
  vertical-align: top;
  width: 400px;
}
#search-form button {
  background: #4285f4;
  border: 0;
  font-size: 0;
  height: 40px;
  width: 40px;
  float: right;
  cursor: pointer;
}
.sbico {
  background: url(../public/img/google.png) no-repeat -106px -53px;
  color: transparent;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 7px auto;
}
.octicon {
  margin: 4px 0 0 6px;
}
