/* css for 768 - 959 px */
_categories_screen_md()
  .category__title
    font-size 24px
  .category--extra
    display none
  .category--extranews
    display block

/* css for 480 - 767 px */
_categories_screen_sm()
  .category
    width 100%
    margin-right 0
    height 110px

/* css for 320 - 479 px */
_categories_screen_xs()
  .categories
    display none
