/* categories */

.categories
  padding-top: 96px
  padding-bottom: 35px
  background-color: rgb(236, 236, 236)

.category
  width: 30%
  float: left
  margin-right 5%
  height: 208px
  overflow: hidden
  margin-bottom: 60px

.category__title
  font-size 30px

.category__subscription
  font-family: "Georgia";
  color: rgb(197, 197, 197);
  font-style: italic;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
  padding-top: 6px

.category__text
  padding-top 7px
  text-align: justify

.category--extranews
  display none

.category--news
  margin-right 0

.title-logo
  font-size 48px

.title-logo__suffix
  color: #b9b9b9
