.recent
  padding 52px 0 0 30px
  white-space nowrap

.recent__header
  font-size 30px

.recent__item
  padding 10px 0px 12px 65px
  position relative
  overflow hidden

.recent__img
  position absolute;
  left 0
  top 11px

.recent__link
  font-weight: 700

.recent__text
  letter-spacing -0.5px

.recent__more
  padding 10px 20px
  font-family LeagueGothic, serif
  font-size 18px
  float right
  text-transform: uppercase
