.menu
  text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  font-family: LeagueGothic;
  text-transform: uppercase;

  .menu__item
    vertical-align: middle;
    display: inline-block;

.menu--header
  font-size 24px

.menu--header.menu--h
  .menu__item
    margin-left 52px
  .menu__link:hover
    border-bottom 2px solid #edbfff

.menu--footer
  font-size 20px
  margin-top: 42px
  .menu__item
    margin-right 44px

.menu--v
  position: absolute;
  top: 143px;
  left: 0;
  right: 0;
  margin: 0 auto
  width: 250px
  z-index 9999
  opacity 0.9
  background-color #3c3044
  border 1px solid #051116
  box-shadow 0 3px 5px rgba(0, 0, 0, 0.2)
  border-radius: 8px
  text-align: center

  .menu__item
    display block
    padding 6px 70px
    border-bottom 2px solid #36283e
    border-top 1px solid #523e5a

  .menu__item:hover
    background-color: #2b2232
    border-bottom: 2px solid #edbfff

  .menu__item:first-child
    border-top: none

  .menu__item:last-child
    border-bottom: none
