/* styles reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.c-align {
  text-align: center;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.checkbox {
  margin-top: -2px;
}
.checkbox input {
  position: relative;
  top: 2px;
}
.checkbox label {
  display: block;
  cursor: pointer;
}
.shadow {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Lucida Sans Unicode", sans-serif;
  background: #f9f9f9;
  font-size: 13px;
  color: #465961;
}

.container {
  width: 930px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  margin: 14px 6px;
}

div.phones {
  color: #5e696d;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  float: left;
  padding-top: 4px;
  letter-spacing: 0.4px;
}

.auth-panel {
  background: linear-gradient(#268, #135);
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75);
  float: left;
  color: white;
  padding: 1px 10px 1px 4px;
  font-size: 11px;
  margin-left: 16px;
}

.login-form input {
  width: 110px;
  height: 17px;
  font-size: 11px;
  padding-left: 3px;
  margin: 2px 10px 2px -5px;
  border-radius: 2px;
}

.site-panel {
  border: 1px solid #aaa;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.5);
  height: 22px;
  width: 76px;
  margin: 2px 0 0 15px;
}

.site-panel i {
  position: relative;
  top: -2px;
  left: 8px;
  margin-left: -6px;
}

.dim-decor {
  color: #bbb;
  text-decoration: underline;
  margin: 0 10px;
}

.nav-panel {
  height: 33px;
  background: linear-gradient(#666, #333 15%, black);
  border: 1px solid #0d1642;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.75);
  overflow: auto;
  color: #939da0;
}

.main-menu {
  margin-top: 4px;
  margin-left: 132px;
}

/* horizontal menu */
.menu > li {
  float: left;
}
.menu > li > a {
  display: inline-block;
  color: #b1bcc0;
  font-size: 14px;
  padding: 2px 13px;
}
.menu > li > a:hover {
  color: white;
  background: linear-gradient(#1f6787, #0d3458);
  border-radius: 10px;
}
/* end of horizontal menu */

.basket-data {
  display: inline-block;
  font-family: Arial;
  font-size: 11px;
  margin: 4px 1px 0 0;
}
.blue-decor {
  color: #0d5a8f;
  font-size: 12px;
  margin: 0 10px;
}

/* search form */
.search-form-wrap {
  height: 136px;
  margin: 12px 5px 17px;
  border: 1px solid #999;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(150, 150, 150, 1);
  display: inline-table;
  font-size: 0;
  color: black;
  position: relative;
}
.search-form-wrap h3 {
  position: absolute;
  color: #154467;
  font-family: Arial;
  font-size: 12px;
  font-weight: 900;
  width: 100%;
  padding: 0px 12px;
  letter-spacing: 0.2px;
}
.search-form-wrap h4 {
  color: #154467;
  font-family: Arial;
  font-size: 10px;
  font-weight: 900;
  padding: 0 8px;
  margin-bottom: -2px;
  letter-spacing: 1.5px;
}
.form-control {
  margin: 3px 0;
}
select {
  box-shadow: inset 0px 0px 5px  rgba(0, 0, 0, 0.33);
  font-size: 10px;
  margin: 2px 0;
  height: 17px;
  font-family: Arial;
  vertical-align: middle;
}
.select-2x {
  width: 104px;
}
.select-1x {
  width: 50px;
}
.search-form {
  padding-bottom: 10px;
  display: table-cell;
  vertical-align: bottom;
}
.search-form .form-control > label {
  font-family: Arial;
  font-size: 9px;
  color: #77858b;
  line-height: 0.9;
  width: 69px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  letter-spacing: 0.4px;
}
.search-form .checkbox label {
  font-size: 12px;
  color: black;
  line-height: 15px;
}
.r-align .form-control > label {
  text-align: right;
  width: 36px;
}
.col-align .form-control > label {
  display: block;
}
.top-align {
  vertical-align: top!important;
}
.form-control label strong {
  color: black;
}
.select-group {
  display: inline-block;
  margin: -4px 15px;
}
.search-checkbox-group {
  display: inline-block;
}
.search-btn {
  text-decoration: underline;
  font-family: Arial;
  font-style: italic;
  font-size: 14px;
  line-height: 1;
  color: #154467;
  padding-right: 20px;
}
.search-btn:hover {
  text-shadow: 1px 0px 2px #569;
}
.select-divider {
  font-size: 12px;
  margin: 0 4px;
  vertical-align: middle;
  font-weight: bold;
}
/* end of search form */

.sidebar {
  width: 184px;
}
.round-header {
  color: #114165;
  border: 1px solid #8b979c;
  border-radius: 14px;
  height: 28px;
  padding: 1px 0 0 2px;
}
.round-header span {
  position: relative;
  top: 2px;
}

/* left menu */
.catalog-menu {
  width: 150px;
  margin: 13px 3px;
}
.catalog-menu ul {
  margin: 2px 46px;
  list-style: circle;
  white-space: nowrap;
}
.catalog-menu li {
  padding-top: 4px;
  height: 24px;
}
.sidebar a:hover {
  color: #0c3256;
  font-family: Arial; /* jitter bug!*/
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}
/* end of left menu */

/* main content */
.products {
  margin: 0px 10px;
  float: left;
  width: 522px;
  background: linear-gradient(#e5e7e8, #93a7b0);
  border-radius: 2px;
  padding: 12px 0 6px 17px;
}
figure {
  float: left;
  margin: 0 25px 22px 5px;
  font-size: 15px;
  text-align: center;
  line-height: 1;
}
figure .brand {
  color: #206988;
}
figure .model {
  color: #1f2528;
  font-size: 13px;
}
figure .price {
  color: #114165;
  font-family: Arial;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  margin-left: 10px;
}
figure a:hover .img-frame {
  box-shadow: 0 0 10px 1px rgba(33, 58, 77, 0.2);
}
.img-frame {
  width: 138px;
  height: 130px;
  padding: 6px 0;
  margin: 1px 0 3px;
  background: white;
  border: 1px solid #b0b9bc;
  border-radius: 10px;
  overflow: hidden;
}
/* end of main content */

/* right menu */
.brand-menu {
  width: 136px;
  margin: 12px 0px 0px 17px;
}
.checkbox-group {
  margin-left: 9px;
  height: 80px;
}
.checkbox-group .checkbox {
  margin-top: 6px;
}
.fetch-form [type=submit] {
  width: 80px;
  height: 26px;
  margin: 8px 8px;
  color: #e5e9ea;
  font-size: 11px;
  background: linear-gradient(#1f6585, #0d3458);
  border: 1px solid #7aa;
  border-radius: 12px;
  cursor: pointer;
}
/* end of right menu */

/* footer */
.brand-logo {
  height: 92px;
  padding: 20px 115px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about {
  height: 100px;
  background-color: #213a4d;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #bec6c9;
}
.about a {
  margin: 10px 10px;
  display: inline-block;
}
.about a:hover {
  color: #52abcb;
}
.creator {
  color: #7f4740;
  font-size: 10px;
  display: block;
}
/* end of footer */

/* icons */
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/sprites.png) 0 0 no-repeat;
  vertical-align: middle;
}

.icon-catalog {
  background-position: 0 0;
}
.icon-circle {
  background-position: -24px 0;
}
.icon-phone {
  background-position: -48px 0;
}
.icon-avatar {
  background-position: -72px 0;
}
.icon-home {
  background-position: -96px 0;
}
.icon-site-map {
  background-position: -120px 0;
}
.icon-letter {
  background-position: -144px 0;
}
.icon-basket {
  background-position: -168px 0;
}
/* end of icons */
