body {
  background-color: #333;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.stopwatch {
  font-family: Tahoma;
  text-align: center;
}

#stopwatch__display {
  color: orange;
  font-size: 84px;
  font-weight: 900;
}

.stopwatch__buttons input {
  color: #333;
  border: 2px solid #888;
  border-radius: 10px;
  background-image: radial-gradient(#eee, #99b);
  width: 140px;
  font-size: 40px;
  margin: 0 4px;
  cursor: pointer;
}

.stopwatch__buttons input:hover {
  background-image: radial-gradient(#99b, #eee);
}

#stopwatch__results {
  color: #999;
  font-size: 40px;
  padding: 15px 0;
}
