/* css for 768 - 959 px */
_header_screen_md()
  .header
    height 800px
    >.container
      height 242px
  .header__nav
    float left
  .header__logo
    display block

/* css for 480 - 767 px */
_header_screen_sm()
  .header
    height 550px
    >.container
      height 200px
      text-align center
  .header__nav
    float none
  .header__logo
    float none

/* css for 320 - 479 px */
_header_screen_xs()
  .header
    height 516px
