.header
  height 850px
  background url(bg.jpg) no-repeat center #d1bcc6
  background-size cover
  color white

  >.container
    height 280px
    padding-top 70px

.header__nav
  float right

.header__logo
  display inline-block
  padding-bottom 24px
