/* css for 768 - 959 px */
_slider_screen_md()
  .phone-specs
    font-size: 16px
    padding: 92px 20px 0
    padding: 92px 0 0 20px
    height: 275px
  .phone-view
    right: 30px
  .slider__radio
    top 430px
    right: 138px

/* css for 480 - 767 px */
_slider_screen_sm()
  .slider
    height 246px
  .phone-specs
    font-size 11px
  .phone-specs__text
    display none
  .phone-view
    top -8px
    right 11px
    width 190px
  .phone-view__play-btn
    margin 54% 0 0 44%
    img
      width 72%
  .slider__radio
    top 265px
    left 0
    right 0

/* css for 320 - 479 px */
_slider_screen_xs()
  .slider
    background none
  .phone-specs
    float none
    width auto
    display inline-block
  .phone-view
    display none
  .slider__radio
    top 215px
