.slider
  height: 400px
  background: rgba(0, 0, 0, 0.2);

  .container
    text-align: center

.slider__radio
  position: absolute
  top: 490px
  right: 158px

.phone-specs
  width: 53%
  padding-top: 70px
  font-size: 18px;
  overflow-y hidden
  float: left
  text-align: left
  display: inline-block

.phone-specs__header
  font-size: 320%

.phone-specs__description
  font-size 160%
  color: #edbfff

.phone-view
  position: relative
  top -18px
  right: 70px
  width: 274px
  display: inline-block
  float: right

.phone-view__clear
  position: absolute
  top: 0
  right: 0
  max-height: 100%
  z-index: 10

.phone-view__fuzzy
  float: left
  margin: 28% 0
  width: 50%

.phone-view__play-btn
  position: absolute;
  margin: 55% 0 0 49%
  top 0
  left 0
  z-index: 11
