.slider
  .container.relative
    .phone-specs
      h1.phone-specs__header= header
      h3.phone-specs__description= description
      p.phone-specs__text= text
    .phone-view
      img.phone-view__clear(src="img/slider/iPhone-4.png", alt="iPhone-4")
      img.phone-view__fuzzy(src="img/slider/iPhone-4-fuzzy.png", alt="iPhone-4-fuzzy")
      .phone-view__play-btn
        a(href='#')
          img(src="img/slider/Play.png" alt="Click me!")    
    .slider__radio
      .radio-group
        i.icon.icon-circle.icon-circle-dark-off
        i.icon.icon-circle.icon-circle-dark-on
        i.icon.icon-circle.icon-circle-dark-off
        i.icon.icon-circle.icon-circle-dark-off
