/* 768 - 959 px */
_screen_md = 959px

/* 480 - 767 px */
_screen_sm = 767px

/* 320 - 479 px */
_screen_xs = 479px

@require './header/media'
@require './menu/media'
@require './slider/media'
@require './about/media'
@require './quote/media'
@require './recent/media'
@require './brands/media'
@require './categories/media'
@require './footer/media'

@media screen and (max-width _screen_md)

  .container
    padding-left 20px
    padding-right: 20px

  _header_screen_md()
  _menu_screen_md()
  _slider_screen_md()
  _about_screen_md()
  _quote_screen_md()
  _brands_screen_md()
  _categories_screen_md()
  _footer_screen_md()

@media screen and (max-width _screen_sm)

  #media-width-detection-element
    width _screen_sm

  .content-wrapper
    width 100%

  _header_screen_sm()
  _menu_screen_sm()
  _slider_screen_sm()
  _about_screen_sm()
  _quote_screen_sm()
  _brands_screen_sm()
  _categories_screen_sm()
  _footer_screen_sm()

@media screen and (max-width _screen_xs)

  _header_screen_xs()
  _menu_screen_xs()
  _slider_screen_xs()
  _about_screen_xs()
  _quote_screen_xs()
  _recent_screen_xs()
  _brands_screen_xs()
  _categories_screen_xs()
  _footer_screen_xs()
