/* css for 768 - 959 px */
_quote_screen_md()
  .quote__title
    font-size 24px
    white-space normal

/* css for 480 - 767 px */
_quote_screen_sm()
  .quote__title
    font-size 30px
    white-space nowrap

/* css for 320 - 479 px */
_quote_screen_xs()
  .quote__title
    font-size 24px
    white-space normal
