.quote
  img.quote__img(src=author_img, alt="author")
  h4.quote__title= title
    a.quote__link(href=href)= href_text
  p.quote__text= text
  
.radio-group
  i.icon.icon-circle.icon-circle-light-off
  i.icon.icon-circle.icon-circle-light-on
  i.icon.icon-circle.icon-circle-light-off
  i.icon.icon-circle.icon-circle-light-off
