/* css for 768 - 959 px */
_footer_screen_md()


/* css for 480 - 767 px */
_footer_screen_sm()
  .footer
    text-align center

  .contact-designer
    float none

/* css for 320 - 479 px */
_footer_screen_xs()
