.footer
  height 200px
  width: 100%
  background url(bg.jpg) center no-repeat #635e6d
  background-size cover
  color white
  position absolute
  bottom 0

.contact-designer
  float right
  padding: 30px 10px;
  font-size: 12px
  text-shadow 1px 2px 2px rgba(0, 0, 0, 0.4)
.contact-designer__link
  font-weight: 700
