* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
html, body {
  height: 100%;
}
body {
  background-color: #282828;
  /*background: url(../img/homework5_table.jpg) no-repeat center center;*/
}

.Piet-Mondriaan {
  /* uncomment above & below for pixel checkup */
  /*opacity: 0.5;*/
  border-collapse: collapse;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 540px;
  margin: -270px 0 0 -250px;
}

#column1 { width: 11%; }
#column2 { width: 13%; }
#column3 { width: 13%; }
#column4 { width: 29%; }
#column5 { width: 17%; }
#column6 { width: 17%; }

#row1 { height: 9.7%; }
#row2 { height: 25.8%; }
#row3 { height: 25.8%; }
#row4 { height: 12.9%; }
#row5 { height: 12.9%; }
#row6 { height: 6.45%; }
#row7 { height: 6.45%; }

td {
  border: 8px solid #282828;
}
td.yellow {
  background-color: #fff86d;
}
td.red {
  background-color: #ff533d;
}
td.black {
  background-color: #212121;
}
td.blue {
  background-color: #0c4992;
}
